@import"https://fonts.googleapis.com/css2?family=VT323&display=swap";

body {
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);

    padding: 0;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.inpute-area {
    display: flex;
    width: 100%;
    height: 100%;

}

#input {
    width: 50%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 5px;
    font-family: monospace;
    background-color: #ccc;

}

#magik-btn {
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: #50ebff;
    font-family: monospace;
}

#title {
    font-family: "VT323";
    font-size: 2em;
    color: rgb(235, 133, 255);
}

.container-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    text-align: center;
    font-family: monospace;

}

.output {
    width: 97.5vw;
    height: 84vh;
}

#slskyt {
    font-family: monospace;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/* couleur des links  */
a {
    color: #50ebff;
}

a:hover {
    color: #c5c5ff;
}

a:visited {
    color: #65888d;
}

.notice {
    position: fixed;
    font-family: monospace;
    margin: 5em;
    display: none;
    background-color: rgb(45, 45, 45);
    border: 1px solid white;
    padding: 1em;
    align-self: center;
}

.show {
    display: block;
}

#howtouseme {
    cursor: pointer;
}

.close-notice-btn {
    position: absolute;
    color: white;
    font-size: 2em;
    cursor: pointer;
    right: 20px;
    top: 20px;
}